body{
  font-family: Arial, sans-serif;
  text-align: center;
  transition: all 0.6s ease;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

.top-buttons,
.music-controls{
  margin-top: 20px;
}

button{
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.1);
}

.card{
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
  margin-top: 20px;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  border: 2px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  transition: 0.6s;
}

.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid red;
  margin-top: 20px;
  transition: 0.6s;
  }
